@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    /* remove a margem da página */
}

address,
article,
aside,
div,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.fundoImagem {
    background-repeat: no-repeat;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
    margin: 0px auto;
    padding: 0px;
    height: 694px;
    overflow: visible;
}


body.home #masthead.fixed .site-header-main {
    padding: 24px 0;
}

#masthead,
#masthead a {
    color: white;
}

#masthead.fixed {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 24px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0) 100%);
}

a {
    color: #007acc;
    /* coloração do texto */
    text-decoration: none;
    /* remove o sublinhado do texto */
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.main-navigation a {
    color: white;
    display: block;
    line-height: 1.3125;
    outline-offset: -8px;
    padding: 0.65625em 0.875em;
    margin-bottom: 3px;
    border-bottom: solid 3px transparent;
    white-space: nowrap;
    text-transform: none;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.main-navigation a:hover {
    border-bottom: 3px solid #e7a200;
}

.main-navigation li {
    list-style-type: none;
    display: block;
    float: left;
}

.main-navigation ul {
    margin: 26px 0 0 -15px !important;
}

.site-branding {
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    float: left;
}

.site-header-menu {
    float: left;
}


.site-header-main {
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: block;
    margin: auto;
}


.header-info {
    margin: 25px 0 0 15px;
    float: right;
    width: 330px;
}

.fone-header {
    background-color: #e7a200;
    border-radius: 65px;
    padding: 3px 15px 0 15px;
    font-size: 20px;
    float: left;
}

.fone-header:hover {
    background-color: #bb8301;
}

body,
button,
input,
select,
textarea {
    color: #1a1a1a;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}


.site-inner {
    margin: 0 auto;
    position: relative;
}

.container {
    max-width: fit-content;
    margin: 0 auto;
}